.rtl
    direction rtl
.vdp-datepicker
    position relative
    text-align left
    *
        box-sizing border-box
    input
      width 100px
      padding 8px
      border-radius 8px
      border 1px solid rgba(255, 255, 255, 0.20)
      background rgba(255, 255, 255, 0.10)
      font-size 14px
      font-style normal
      font-weight 500
      line-height 16px
      color #FFFFFF80

    .action-buttons {
      display flex
      align-items: center;
      justify-content: space-between;
      padding 0 12px 12px

      .button {
        padding 8px 16px
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;
        border-radius: 36px;
        cursor: pointer;
        transition background .2s
      }

      .remove-button {
        background transparent
        border 1px solid #7A56E7
        color #7A56E7

        &:hover {
          background #7A56E7
          color #fff
        }

        &.disabled {
          border-color #FFFFFF33
          color #ffffff80
          pointer-events none
          cursor: not-allowed;
        }
      }

      .today-button {
        background #4A9EF4
        color #fff

        &:hover {
          background #4185ce
        }

        &.disabled {
          background #FFFFFF33
          color #ffffff80
          pointer-events none
          cursor: not-allowed;
        }
      }
    }

.vdp-datepicker__calendar
    position absolute
    z-index 100
    width 251px
    border-radius 8px
    background #1B1B1B
    color #fff
    header
        display flex
        padding 12px 12px 0;

        .current-position-header {
          display flex
          align-items: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 800;
          line-height: 16px;
          cursor: pointer;
          border-radius: 6px;
          transition: background .2s;

          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }

          &._year {
            &:hover {
              cursor: default;
              background: transparent;
            }
          }
        }

        .arrow-group
          display flex
          align-items: center;
          margin-left: auto;

          .arrow-container {
            width: 24px;
            height: 24px;
            cursor: pointer;
            border-radius: 6px;
            background: rgba(255, 255, 255, 0.1);

            &:hover {
              background: rgba(255, 255, 255, 0.2);
            }

            &::after {
              display: none;
            }

            &.prev,
            &.next {
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 16px;
                height: 16px;
              }
            }

            &.next {
              margin-left: 4px
              transform: rotate(180deg);
            }

            &.disabled {
              opacity .5;
              cursor: not-allowed;
              pointer-events: none;
            }
          }


    .options-container {
      padding 16px 8px;
      margin-right: -4px
      margin-bottom: -4px

      &._not-a-day {
        padding 16px 8px
        margin-right: 0
        margin-bottom: 0
      }
    }

    .disabled
        color #ddd
        cursor default
    .flex-rtl
        display flex
        width inherit
        flex-wrap wrap

    .cell
        display inline-block
        width calc(14.28% - 4px)
        height: 30px
        margin-right: 4px
        margin-bottom: 4px
        padding 6px 4px
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        text-align center
        vertical-align middle
        border 1px solid transparent
        border-radius: 4px;

        &.today {
          background #7A56E733;
        }

        &.disabled {
          color #FFFFFF33;
        }

        &:not(.blank):not(.disabled).day
        &:not(.blank):not(.disabled).month
        &:not(.blank):not(.disabled).year
            cursor pointer
            &:hover
                border 1px solid #ffffff80;
        &.highlighted
          background #7A56E733
          color #fff
        &.selected
            background #7A56E733
            color #7A56E7
        &.grey
            color #888

            &:hover
                background inherit


        &.day-header
            white-space nowrap
            cursor inherit
            &:hover
                background inherit

    .month,
    .year
        width 33.333%
        margin-right: 0
        font-weight 600

.vdp-datepicker__clear-button
.vdp-datepicker__calendar-button
    cursor pointer
    font-style normal
    &.disabled
      color #999
      cursor default
